body {
    background-image: url('../images/bg_pares-min.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}

#home_header_text {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    color: white;
}

audio {
    /*display:none;*/
}

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=password] {
    background: #ededed url('../images/password-icon.png') no-repeat 10px center;
    /*background-size: 25px;*/
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 200px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=password]:focus {
    width: 350px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
